body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.variable-definition-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
}


.use-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-radius: 20px;
}

.function-call-node {
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 5px;
	margin: 0px;
	border-left: 10px double ;
	border-right: 10px double;
}

.exit-point-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-style: dotted;
}

.node-handle.react-flow__handle{
	background: none;
	border: none;
}


.label {
	transition: 3s;
}

.label:hover {
	transition: 3s;
	background: red;
}


.main-container {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}
