body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
}

svg {
	pointer-events: none;
}

.function-definition-node {
	--b: 3px;   /* border thickness */
	--s: .45em; /* size of the corner */
	--color: #373B44;
	
	padding: calc(.5em + var(--s)) calc(.9em + var(--s));
	color: var(--color);
	--_p: var(--s);
	background:
	  conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
	  var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
	transition: .3s linear, color 0s, background-color 0s;
	outline: var(--b) solid #0000;
	outline-offset: .6em;
	font-size: 16px;
  
	border: 0;
  
	user-select: none;
	-webkit-user-select: none;
}  
.react-flow__edge-path {
	pointer-events: none;
	cursor: none;
}

.react-flow__edge-interaction {
	pointer-events: none;
	cursor: none;
}

.variable-definition-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
}


.use-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-radius: 20px;
}

.function-call-node {
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 5px;
	margin: 0px;
	border-left: 10px double ;
	border-right: 10px double;
}

.exit-point-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-style: dotted;
}

.value-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-radius: 50%;
}

.group-node{
	border: solid 2px;
}

.node-handle.react-flow__handle{
	background: none;
	border: none;
}

.edge-label { 
	visibility: hidden;
	pointer-events: none;
}

.label {
	transition: 3s;
}

.label:hover {
	transition: 3s;
	background: red;
}


.main-container {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

/* from https://www.w3schools.com/css/css_tooltip.asp */

.base-node .hover-over-text{
	visibility: hidden;
  	background-color: black;
  	color: #fff;
  	text-align: left;
  	padding: 5px 0;
  	border-radius: 6px;
 
  	content: " ";
	position: absolute;
	left: 100%; /* To the right of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
	
	white-space: nowrap;
}

.hover-over-text .one-line {
	display: inline-block
}

.base-node:hover .hover-over-text{
	visibility: visible;
}

.r-code-input {
	position: absolute;
	top: 15px; 
	left: 15px;
}
