body {
	overflow: hidden;
	width: 100%;
	height: 100%;
	margin: 0px;
}

.variable-definition-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
}


.use-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-radius: 20px;
}

.function-call-node {
	border-top: solid 2px;
	border-bottom: solid 2px;
	padding: 5px;
	margin: 0px;
	border-left: 10px double ;
	border-right: 10px double;
}

.exit-point-node {
	border: solid 2px;
	padding: 5px;
	margin: 0px;
	border-style: dotted;
}

.node-handle.react-flow__handle{
	background: none;
	border: none;
}


.label {
	transition: 3s;
}

.label:hover {
	transition: 3s;
	background: red;
}


.main-container {
	display: flex;
	flex-direction: column;
	margin: 0px;
	height: 100vh;
	width: 100vw;
	overflow-y: hidden;
}

/* from https://www.w3schools.com/css/css_tooltip.asp */

.base-node .hover-over-text{
	visibility: hidden;
  	background-color: black;
  	color: #fff;
  	text-align: left;
  	padding: 5px 0;
  	border-radius: 6px;
 
  	content: " ";
	position: absolute;
	left: 100%; /* To the right of the tooltip */
	margin-top: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent transparent black;
}


.base-node:hover .hover-over-text{
	visibility: visible;
}
